<!DOCTYPE html>
<HTML>
  <head>
    <title>Metrics</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Donatello Metrics</h1>
    
    <table class="table">
      <tr>
        <th>Payment status</th>
        <th>Number of donations</th>
        <th>Percentage of total</th>
      </tr>
      <% for(var i=1; i < 5; i++) { %>
      <tr>
        <td><%= metrics[i].paymentStatus %></td>
        <td><%= metrics[i].count %></td>
        <td><%= parseInt(metrics[i].percentage) %>%</td>
      </tr>
      <% } %>
    </table>
    <div>
        <p>Average donation amount: €<%= metrics[0].avg.toFixed() %></p>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style=<%= `width:${metrics[0].avg.toFixed()/500*100}%` %>
            aria-valuenow=<%= `width:${metrics[0].avg.toFixed()}` %>
            aria-valuemin="0"
            aria-valuemax="500"
          ></div>
        </div>
      </div>

    <div>
        <p>Number of donations in the last 30 days: <%= metrics[5].donations %></p>
        <div class="progress">

            <div
            class="progress-bar"
            role="progressbar"
            style=<%= `width:${metrics[5].donations/10*100}%` %>
            aria-valuenow=<%= `width:${metrics[5].donations}` %>
            aria-valuemin="0"
            aria-valuemax="10"
            ></div>
        </div>
    </div>
    <div>
        <p>Number of new projects in the last 30 days: <%= metrics[6].projects %></p>
        <div class="progress">

            <div
            class="progress-bar"
            role="progressbar"
            style=<%= `width:${metrics[6].projects/10*100}%` %>
            aria-valuenow=<%= `width:${metrics[6].projects}` %>
            aria-valuemin="0"
            aria-valuemax="10"
            ></div>
        </div>
    </div>
    <div>
        <p>Number of new users in the last 30 days: <%= metrics[7].users %></p>
        <div class="progress">

            <div
            class="progress-bar"
            role="progressbar"
            style=<%= `width:${metrics[7].users/10*100}%` %>
            aria-valuenow=<%= `width:${metrics[7].users}` %>
            aria-valuemin="0"
            aria-valuemax="10"
            ></div>
        </div>
    </div>
    <div>
        <p>Total revenue in the last 30 days: <%= metrics[8].revenue %></p>
        <div class="progress">

            <div
            class="progress-bar"
            role="progressbar"
            style=<%= `width:${metrics[8].revenue/5000*100}%` %>
            aria-valuenow=<%= `width:${metrics[8].revenue}` %>
            aria-valuemin="0"
            aria-valuemax="5000"
            ></div>
        </div>
    </div>
   
  </body>
</HTML>
